
{%- load_yaml as base_defaults %}

Debian:
  pkgs:
  - libatlas-base-dev
  - libportaudio2
  - libasound-dev
  - libasound2-dev
  - portaudio19-dev
  - libportaudiocpp0
  - sox
  - libsox-fmt-all
#  - ffmpeg
#  - libav-tools
  - mplayer
  service: kalliope
  auth: {}
  dir:
    base: /srv/kalliope
    config: /etc/kalliope
    log: /var/log/kalliope
    triggers: /srv/kalliope/trigger
    resources: /srv/kalliope/resource
  resources:
  - neuron
  - stt
  - tts
  - signal
  - trigger
  synapse: {}

{%- endload %}

{%- set server = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('kalliope:server')) %}
