[Unit]
Description=Kalliope

[Service]
WorkingDirectory=/etc/kalliope
ExecStart=/srv/kalliope/bin/kalliope start
User=kalliope

[Install]
WantedBy=multi-user.target
